<!--
  ~ AnnoAutoGrader
  ~ Copyright (c) 2019, Dan S. Wallach, Rice University
  ~ Available subject to the Apache 2.0 License
  -->

<configuration debug="true">
  <appender name="TextOut" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date [%thread] %highlight(%-5level) %cyan(%logger{15}) - %msg %n</pattern>
    </encoder>
  </appender>
  <root level="INFO">
    <appender-ref ref="TextOut" />
  </root>
</configuration>
